<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>
<%- include ../layouts/sidebar.ejs %>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>DataTables</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">DataTables</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
	</section>
	<% if (messages.error) { %>
		<p style="color:red"><%- messages.error %></p>
	<% } %>
	
	<% if (messages.success) { %>
		<p style="color:green"><%- messages.success %></p>
	<% } %>	
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
          <!-- /.card -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">DataTable with default features</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Question</th>
                  <th>Options</th>
          <th>Answer</th>
          <th>Time</th>
				  <th>Action</th>
                </tr>
                </thead>
                <tbody>
					<% if (data) { %>
						<% data.forEach(function(quizdata){ %>
							<tr>
								<td><%= quizdata.question %></td>
                <td><% new_option = quizdata.option; %>
                    <%  jsonstring = JSON.parse(new_option); %>
                    <% for(var key in jsonstring) { %>
                    Option  <%=  jsonstring[key] %><br>
                      <% } %>
                </td>
                <td><%= quizdata.answer %></td>
                <td><%= quizdata.usetime %></td>
								<td>
									<div style="float:left">
										<a href='/quiz/edit/<%= quizdata.qa_id %>' class="btn btn-info">Edit</a> &nbsp;							
										<form method="post" action="/quiz/delete/<%= quizdata.qa_id %>" style="float:right">
											<input class="btn btn-danger" type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
											<input type="hidden" name="_method" value="DELETE" />
										</form>
									</div>
								</td>
							</tr>
						<% }) %>
					<% } %>
				</tbody>
			</table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
<link rel="stylesheet" href="../assets/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<script src="../assets/plugins/datatables/jquery.dataTables.js"></script>
<script src="../assets/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<script src="../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script>
	$(function () {
	  $("#example1").DataTable();
	  $('#example2').DataTable({
		"paging": true,
		"lengthChange": false,
		"searching": false,
		"ordering": true,
		"info": true,
		"autoWidth": false,
	  });
	});
  </script>